---
import Base from "../../layouts/Base.astro";
---
<Base title="Card">
  <article class="card" style="max-width: 480px;">
    <header class="card__header">Header</header>
    <div class="card__body">Body</div>
    <footer class="card__footer">Footer</footer>
  </article>
</Base>
