---
import Base from "../../layouts/Base.astro";
---
<Base title="Notices">
  <div class="container grid">
    <div class="demo-card notice notice--info">Info notice</div>
    <div class="demo-card notice notice--success">Success notice</div>
    <div class="demo-card notice notice--warn">Warning notice</div>
    <div class="demo-card notice notice--danger">Danger notice</div>
  </div>
</Base>
