---
import Base from "../../layouts/Base.astro";
---
<Base title="Notice">
  <div class="notice">Info notice</div>
  <div class="notice notice--success">Success notice</div>
  <div class="notice notice--warn">Warning notice</div>
  <div class="notice notice--danger">Danger notice</div>
</Base>
