---
import Base from "../../layouts/Base.astro";
---
<Base title="Stack (Accordion)">
  <div class="container">
    <div class="stack" data-accordion>
      <button class="stack__header">Section A</button>
      <div class="stack__panel">A content</div>
      <button class="stack__header">Section B</button>
      <div class="stack__panel">B content</div>
    </div>
  </div>
</Base>
