---
import Base from "../../layouts/Base.astro";
---
<Base title="Tables">
  <div class="table-wrap">
    <table class="table table--comfortable">
      <thead><tr><th>Name</th><th>Role</th><th>Status</th></tr></thead>
      <tbody>
        <tr><td>Jane</td><td>Designer</td><td>Active</td></tr>
        <tr><td>Mark</td><td>Dev</td><td>Invited</td></tr>
      </tbody>
    </table>
  </div>
</Base>
