---
import Base from "../../layouts/Base.astro";
---
<Base title="Tables">
  <div class="container">
    <table class="table">
      <thead><tr><th>Label</th><th>Value</th></tr></thead>
      <tbody><tr><td>One</td><td>Alpha</td></tr><tr><td>Two</td><td>Beta</td></tr></tbody>
    </table>
  </div>
</Base>
