---
import Base from "../../layouts/Base.astro";
---
<Base title="Tabs">
  <div class="container">
    <div class="tabs" role="tablist" aria-label="Sample tabs">
      <button role="tab" aria-controls="t1" aria-selected="true">Alpha</button>
      <button role="tab" aria-controls="t2">Beta</button>
    </div>
    <div id="t1" class="tabs__panel">Alpha content</div>
    <div id="t2" class="tabs__panel" hidden>Beta content</div>
  </div>
</Base>
