---
import Base from "../../layouts/Base.astro";
---
<Base title="Tabs">
  <div class="container">
    <div class="tabs" data-tabs>
      <div class="tabs__list" role="tablist" aria-label="Sample tabs">
        <button class="tabs__tab" id="tab-a" role="tab" aria-controls="panel-a" aria-selected="true">Alpha</button>
        <button class="tabs__tab" id="tab-b" role="tab" aria-controls="panel-b" aria-selected="false" tabindex="-1">Beta</button>
      </div>
      <div id="panel-a" class="tabs__panel" role="tabpanel" aria-labelledby="tab-a">Alpha content</div>
      <div id="panel-b" class="tabs__panel" role="tabpanel" aria-labelledby="tab-b" hidden>Beta content</div>
    </div>
  </div>
</Base>
