---
import Base from "../../layouts/Base.astro";
---
<Base title="Utilities">
  <div class="u-p-4 card">Padding .u-p-4</div>
  <div class="u-m-4 notice">Margin .u-m-4</div>
  <div class="u-flex"><div class="card u-p-2">Flex 1</div><div class="card u-p-2">Flex 2</div></div>
</Base>
