:root {
  --sl-color-primary-50: #b8d2ed;
  --sl-color-primary-100: #566590;
  --sl-color-primary-200: #42436c;
  --sl-color-primary-300: #1c4566;
  --sl-color-primary-400: #323460;
  --sl-color-primary-500: #03284f;
}

$palette: (
  'primary-50': #b8d2ed,
  'primary-100': #566590,
  'primary-200': #42436c,
  'primary-300': #1c4566,
  'primary-400': #323460,
  'primary-500': #03284f,
);
