---
import Base from "../layouts/Base.astro";
---
<Base title="Playground">
  <h1>Playground</h1>
  <p>Edit the markup below locally to experiment.</p>
  <pre><code>&lt;button class=&quot;btn&quot;&gt;Primary&lt;/button&gt;
&lt;div class=&quot;notice notice--info&quot;&gt;Hello Slate&lt;/div&gt;</code></pre>
</Base>
